nav {
    display: flex;
    justify-content: space-around;
    background-color: #e8e8e7;
    color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

nav img {
    width: auto;
    height: auto; 
}


nav a {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #43938c;
    transition: color 0.2s;
}

nav a:hover {
    color: #9fc2be; 
}

nav ul {
    list-style-type: none;
    padding: 50px;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
    position: relative;
}

nav li:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -10px; 
    color: #43938c;
}

header {
    font-family: Arial, sans-serif;
    color: #e8e8e7;
    padding: 5px;
    margin: 20px;
}

header h1 {
    font-size: 500%;
    text-align: center;
}

.header {
    background-image: url('Images/header-background.png');
    background-size: cover;
    padding: 80px;
}

body {
    background-color: #e8e8e7;
    text-decoration: none;
    color: #244C46;
    padding: 0;
    margin: 0;
}

.article-list {
    list-style: none;
    padding: 20px;
}

.article {
    color: #43938c;
    text-align: left;
    margin: 15px 0;
    padding: 15px;
    display: flex;
    border-bottom: 2px solid #bdc3c7;
}

.article:last-child {
    border-bottom: none;
}


.article img {
    max-width: 20%; 
    border-radius: 8px;
    margin-right: 20px;
}

.article p {
    margin: 0;
}

.article h2 {
    text-decoration: none;
    color: #43938c;
}

.article h2 a {
    text-decoration: none;
    color: #43938c;
}

.article h2 a:hover {
    color: #9fc2be;
}